/* Setting Universal Attributes & Variables */
:root {
  --main-color: #c3ceda;
  --secondary-color: #738fa7;
  --tertiary-color: #f7b49d;
}

* {
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #071330;
  line-height: 1.5;
}

body {
  background-color: var(--main-color);
  padding: 0;
  margin: 0;
}

hr {
  width: 66%;
  margin: 25px auto;
  background-color: var(--secondary-color);
  border: none;
  height: 3px;
}

h1 {
  margin-top: 0;
  text-align: center;
  color: var(--main-color);
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  margin: 10px 25px 0px 0px;
  text-align: center;
  text-decoration: underline;
}

h3 {
  text-align: center;
}

p,
ul {
  font-size: 1.25em;
}

section {
  margin: 25px 0 0 0;
}

article {
  padding: 20px;
}


/* # Header */
header {
  background-color: var(--secondary-color);
  padding: 25px;

  background-image: url()
}

/* ##Nav Bar */
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-item {
  padding: 0.5% 0.75%;
}

#navbar a {
  text-decoration: none;
  color: var(--main-color);
}

#navbar a:hover {
  text-decoration: underline;
  color: var(--tertiary-color);
}

.nav-item {
  font-size: 2rem;
}


/* # Main */
main {
  width: 90%;
  margin: 0 auto;
}

/* ## About Dylan */
#about-dylan {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#about-sidebar,
#about-content {
  width: 50%;
}

#about-content h2 {
  text-align: right;
}

#about-content p {
  align-self: center;
}

.about-img {
  max-width:100%;
  max-height: 600px;
}

#about-content p + ul {
  margin-bottom: 0;
}

/* ## Portfolio */
/* ### Highlighted Project */
#portfolio-highlight {
  position: relative;
  width: 750px;
  max-width: 100%;
  margin: 25px auto 0;
  opacity: 66%;
  transition: .25s ease-in-out;
  text-align: center;
}

#portfolio-highlight:hover {
  opacity: 100%;
  transition: opacity 0.25s ease-in-out;
}

.portfolio-img1 {
  max-width: 100%;
  max-height: 100%;
}

.highlighted-project {
  position: absolute;
  top: 0;
  left:30%;
  width: 40%;
  height: 20%;
  background-color: var(--secondary-color);
  color: var(--main-color);
  transition: top .25s ease-in-out;
  font-size: 2.5rem;
}

/* ### Project Cards */
.portfolio-slides {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio-title {
  display:block;
}

.slide-cards {
  width: 400px;
  max-width: 45%;
  padding: 10px solid var(--secondary-color);
  margin-bottom: 25px;
}

.slide-cards img {
  width: 100%;
}

#slide1,
#slide2,
#slide3,
#slide4 {
  position: relative;
  opacity: 66%;
  transition: .25s ease-in-out;
  text-align: center;
}

#slide1:hover,
#slide2:hover,
#slide3:hover,
#slide4:hover {
  opacity: 100%;
  transition: .25s ease-in-out;
}

.project-title {
  position: absolute;
  top: 0;
  left:30%;
  width: 40%;
  height: 15%;
  background-color: var(--secondary-color);
  color: var(--main-color);
  transition: top .25s ease-in-out;
  font-size: 1.5rem;
}

/* ## Other Work */
.work-cards {
  display: flex;
  justify-content: space-evenly;
}

.content-card,
.ghost-card {
  border: solid 10px var(--main-color);
}

/* ## Contact */
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-info {
  width: 40%;
  border: 7.5px solid var(--secondary-color);
  margin: 15px 0;
  padding-bottom: 15px;
  text-align: center;
}

/* # Footer */
footer {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-size: 1.15rem;
  text-align: center;
  height: 100px;
}

.copyright-txt {
  align-self: center;
}


/* # Media Queries */
@media screen and (max-width: 1366px) {
 
h2,
#about-content h2 {
  text-align: center;
}

#about-dylan {
  flex-direction: column;
}

 #about-content {
    width: 100%;
  }

  #about-sidebar {
    width: 75%;
    order: 0;
    margin: 0 auto;
  }

  #about-content {
    order: 1;
  }
}

 
@media screen and (max-width: 800px) {

  *,
  #navbar {
    flex-direction: column;
  }

  #navbar {
    width: 100%;
    text-align: center;
  }
  .slide-cards,
  .contact-info {
    width: 100%;
    max-width: 100%;
  }

  .highlighted-project {
    font-size: 1.5rem;
  }
} 